@model Shampan.Models.BKFraudIrrgularitiesPreferenceSettings

@{
    ViewData["Title"] = "Index";
}
@Html.Partial("_Header", new HeaderModel()
{
    HeaderName = "BK-Fraud Irrgularities Preference Setting Entry",
    BreadCrums = new Dictionary<string, string>()
{
    {"/BKFraudIrrgularitiesPreferenceSetting","Index"},
    {"","Index"},
}
})

<link href="~/css/button.css" rel="stylesheet" />


<div class="container-fluid">

    <form id="frm_BKFraudIrrgularitiesPreferenceSetting">
        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title">Create BK-Fraud Irrgularities Preference Setting</h3>
            </div>


            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.Edit)

                <div class="form-group row">


                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Code)
                        @Html.TextBoxFor(Model => Model.Code, new { @class = "  form-control form-control-sm", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Code)

                    </div>

                    <div class="col-sm-2">

                        @Html.LabelFor(model => model.BKAuditOfficeTypeId)
                        @Html.DropDownListFor(model => model.BKAuditOfficeTypeId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-control-sm", @data_selected = Model.BKAuditOfficeTypeId })
                        @Html.ValidationMessageFor(model => model.BKAuditOfficeTypeId)

                    </div>

                    <div class="col-sm-2">

                        @Html.LabelFor(model => model.BKAuditOfficeId)
                        @Html.DropDownListFor(model => model.BKAuditOfficeId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-control-sm", @data_selected = Model.BKAuditOfficeId })
                        @Html.ValidationMessageFor(model => model.BKAuditOfficeId)

                    </div>



                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.PreviouslyFraudIncidentFlag, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.PreviouslyFraudIncidentFlag, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "PreviouslyFraudIncidentFlag" })
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.EmpMisConductFlag, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.EmpMisConductFlag, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "EmpMisConductFlag" })
                            </label>
                        </div>
                    </div>

                    

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.Status, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "Status" })
                            </label>
                        </div>
                    </div>


                </div>

                <div class="form-group row">



                </div>


            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-header p-2">

            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
                <button type="button" class="button btnsave sslUpdate">Update</button>
            }
            else
            {
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            }

        </div>
    </div>



</div>

@section scripts {

    <script src="/js/app/Services/CommonService.js"></script>
    <script src="/js/app/Services/BKFraudIrrgularitiesPreferenceSettingService.js"></script>
    <script src="/js/app/Controllers/BKFraudIrrgularitiesPreferenceSettingController.js"></script>


    <script>
        $(document).ready(function () {
            BKFraudIrrgularitiesPreferenceSettingController.init();
        });

    </script>


}
