@model Shampan.Models.BKFraudIrregularitiesInternalControlPreferenceCBS

@{
    ViewData["Title"] = "Index";
}
@Html.Partial("_Header", new HeaderModel()
{
    HeaderName = "BK-Fraud IrregularitiesInternal ControlPreferenceCBS Entry",
    BreadCrums = new Dictionary<string, string>()
{
    {"/BKFraudIrregularitiesInternalControlPreferenceCBS","Index"},
    {"","Index"},
}
})

<link href="~/css/button.css" rel="stylesheet" />


<div class="container-fluid">

    <form id="frm_BKFraudIrregularitiesInternalControlPreferenceCBS">
        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title">Create BKFraudIrregularitiesInternalControlPreferenceCBS</h3>
            </div>


            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.Edit)

                <div class="form-group row">


                    <div class="col-sm-2">

                        @Html.LabelFor(model => model.BranchID)
                        @Html.DropDownListFor(model => model.BranchID, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-control-sm", @data_selected = Model.BranchID })
                        @Html.ValidationMessageFor(model => model.BranchID)

                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.AuditYear)
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.AuditYear, new { @class = "  form-control form-control-sm dateRange" })
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.AuditFiscalYear)
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.AuditFiscalYear, new { @class = "  form-control form-control-sm dateRange" })
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.PreviouslyFraudIncidentFlg, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.PreviouslyFraudIncidentFlg, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "PreviouslyFraudIncidentFlg" })
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.EmpMisConductFlg, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.EmpMisConductFlg, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "EmpMisConductFlg" })
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.IrregularitiesFlg, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.IrregularitiesFlg, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "IrregularitiesFlg" })
                            </label>
                        </div>
                    </div>


                </div>

                <div class="form-group row">

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.InternalControlFlg, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.InternalControlFlg, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "InternalControlFlg" })
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.ProperDocumentationFlg, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.ProperDocumentationFlg, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "ProperDocumentationFlg" })
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.ProperReportingFlg, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.ProperReportingFlg, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "ProperReportingFlg" })
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-check">
                            <label class="form-check-label">
                                @Html.LabelFor(model => model.Status, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input", style = "margin-left: 35px;    margin-top: 34px; transform: scale(1.9);", id = "Status" })
                            </label>
                        </div>
                    </div>

                   

                    


                </div>

                <div class="form-group row">


                </div>

                


            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-header p-2">

            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
                <button type="button" class="button btnsave sslUpdate">Update</button>
            }
            else
            {
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            }

        </div>
    </div>



</div>

@section scripts {

    <script src="/js/app/Services/CommonService.js"></script>
    <script src="/js/app/Services/BKFraudIrregularitiesInternalControlPreferenceCBSService.js"></script>
    <script src="/js/app/Controllers/BKFraudIrregularitiesInternalControlPreferenceCBSController.js"></script>


    <script>
        $(document).ready(function () {
            BKFraudIrregularitiesInternalControlPreferenceCBSController.init();
        });

    </script>


}
