@model Shampan.Models.BKAuditTemlateMaster

@{
    ViewData["Title"] = "Index";
}
@Html.Partial("_Header", new HeaderModel()
{
    HeaderName = "BK-Audit Temlate Master Entry",
    BreadCrums = new Dictionary<string, string>()
{
    {"/BKAuditTemlateMaster","Index"},
    {"","Index"},
}
})

<link href="~/css/button.css" rel="stylesheet" />

<div class="card">
    <div class="card-header p-2">

        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <button type="button" class="button btnsave sslUpdate">Update</button>
        }
        else
        {
            <button class="button btnsave sslSave" type="button" id="">Save</button>
        }

    </div>
</div>


<div class="container-fluid">

    <div id="frm_BKAuditTemlateMasterEntry">

        <form id="frm_BKAuditTemlateMaster">
            <div class="card card-secondary">

                <div class="card-header">
                    <h3 class="card-title">Create Temlate Master</h3>
                </div>


                <div class="card-body">

                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Operation)
                    @Html.HiddenFor(model => model.Edit)

                    <div class="form-group row">


                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.Code)
                            @Html.TextBoxFor(Model => Model.Code, new { @class = "  form-control form-control-sm", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Code)

                        </div>

                        <div class="col-sm-2">

                            @Html.LabelFor(model => model.BKAuditOfficeTypeId)
                            @Html.DropDownListFor(model => model.BKAuditOfficeTypeId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-control-sm", @data_selected = Model.BKAuditOfficeTypeId })
                            @Html.ValidationMessageFor(model => model.BKAuditOfficeTypeId)

                        </div>

                        <div class="col-sm-2">

                            @Html.LabelFor(model => model.BKAuditCategoryId)
                            @Html.DropDownListFor(model => model.BKAuditCategoryId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-control-sm", @data_selected = Model.BKAuditCategoryId })
                            @Html.ValidationMessageFor(model => model.BKAuditCategoryId)

                        </div>




                        <div class="col-sm-3">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextBoxFor(model => model.Description, new { @class = "  form-control form-control-sm" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>

                        <div class="col-sm-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.LabelFor(model => model.Status, new { @class = "form-check-label", style = "margin-top: 30px;font-weight: bold;" })
                                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input", style = "margin-left: 135px;    margin-top: 34px; transform: scale(1.9);", id = "Status" })
                                </label>
                            </div>
                        </div>


                    </div>

                </div>





            </div>
        </form>

        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Template Master Details</h3>
            </div>

            <div class="card-bodyData">
           
            </div>

        </div>
    </div>


    <div class="card">
        <div class="card-header p-2">

            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
                <button type="button" class="button btnsave sslUpdate">Update</button>
            }
            else
            {
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            }

        </div>
    </div>



</div>

@section scripts {

    <script src="/js/app/Services/CommonService.js"></script>
    <script src="/js/app/Services/BKAuditTemlateMasterService.js"></script>
    <script src="/js/app/Controllers/BKAuditTemlateMasterController.js"></script>


    <script>
        $(document).ready(function () {

            BKAuditTemlateMasterController.init();

        });

    </script>


}
